@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(17, 24, 39); /* bg-gray-900 */
  color: rgb(243, 244, 246); /* text-gray-100 */
}

.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}